/**/__pycache__/
/.coverage
/.idea/
/.venv/
/bin/phing
/composer.lock
/demo.scad
/dist/
/docs/_build/
/docs/_static/
/docs/_templates/
/poetry.lock
/run_super_scad.py
/test/**/*.actual.scad
/test/coverage.xml
/test/html/
/vendor/
